.wrapper {
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  border: 10px solid #f3f3f3;
  border-top: 10px solid #4c17de;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: loader 0.7s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
