.usersBlock {
  position: relative;

  &.showScroll {
    .usersList {
      max-height: calc(100% - 32px);
      &::-webkit-scrollbar {
        display: block;
      }
    }

    .shadow {
      opacity: 1;
    }
  }
}

.usersList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  height: auto;
  max-height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: $bgGreyDarkColor;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background: $bgGreyLightColor;
    border-radius: 100px;
  }
}

.shadow {
  opacity: 0;
  position: absolute;
  z-index: 2;
  background: linear-gradient(0deg, rgba(18, 20, 27, 0) 0%, #12141b 100%);
  width: calc(100% - 10px);
  height: 32px;
  top: 0;
  left: 0;
  &.bottom {
    top: unset;
    bottom: 30px;
    background: linear-gradient(180deg, rgba(18, 20, 27, 0) 0%, #12141b 100%);
  }
}
