$bgPrimaryColor: #12141B;
$bgSecondaryColor: #1E2027;
$bgTertiaryColor: #1a1c23;
$bgactiveColor: #1E2027;
$bgBlueColor: #4c17de;
$bgRedColor: #FF2C4733;

$bgGreyColor: #CF7B5A33;
$bgGreyDarkColor: #e8e8e81a;
$bgGreyLightColor: #7a7a7a;

$textPrimaryColor: #DCD8D3;
$textSecondaryColor: #8C8988;
$textActiveColor: #CF7B5A;

